<ul>
  <li>Foto y títulos de los directivos</li>
  <li>sección cooperadora</li>
  <li>Sección centro de estudiantes</li>
  <li>radio escolar</li>
</ul>

<!--Perfil equipo directivo-->
<div class="container-fluid bg-dark-subtle">
  <div class="row p-5">
    <div class="col-md-6 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Directora</h2>
      <h3 class="fw-semibold" >Prof. María Alejandra Rosa</h3>
      <p class="mb-0">Profesora en Educación Artística - Música</p>
      <p>Profesora en Educación Especial</p>
    </div>
    <div class="col-md-6 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Vicedirectora</h2>
      <h3 class="fw-semibold" >Prof. Cintia López</h3>
      <p class="mb-0">Profesora en Geografía</p>
    </div>
  </div>
</div>

<!--Historia-->

<div class="container-fluid bg-success-subtle">
  <h2 class="fw-bold text-center pt-3">Nuestra Historia</h2>
  <p class="ps-3 pe-3 pb-3" style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, harum? Eius deserunt consectetur nisi laudantium quos voluptatem perferendis qui ratione quibusdam ut ad atque, beatae eum et, odio reiciendis adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo reprehenderit placeat culpa explicabo nostrum obcaecati, architecto quibusdam, earum facere voluptatem consectetur ut molestias harum laudantium repellendus ab eveniet animi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iusto consequuntur dolores ipsa quasi eveniet velit nobis aspernatur. Similique, ut. Corporis perferendis aperiam quas reiciendis asperiores voluptatibus eius et. Natus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident harum, deserunt nemo laudantium aliquam laborum beatae nesciunt enim quos dolore aspernatur facere saepe autem accusantium blanditiis voluptatum. Saepe, laudantium odit.</p>
</div>

<!--Misión y Visión-->

<div class="container">
  <div class="row">
    <div class="col-md-6 align-content-center justify-content-center">
      <h2 class="pt-3 fw-semibold text-center">Misión</h2>
      <p class="ps-3 pe-3 pb-3">El I.P.E.T N°98 <span>“Luis de Tejeda”</span> aspira a resignificar la Educación Técnica fomentando la participación democrática de todos los actores institucionales, fomentando un profundo sentido de pertenencia y propiciando vínculos con la comunidad desde el quehacer técnico-científico que nos identifica.</p>

      <h2 class="pt-3 fw-semibold text-center">Visión</h2>
      <p class="ps-3 pe-3 pb-3">El I.P.E.T N°98 <span>“Luis de Tejeda”</span> brinda educación técnica con apertura a la comunidad y con el compromiso de afianzar la continuidad pedagógica de sus estudiantes propiciando el desarrollo de capacidades, conocimientos, habilidades, destrezas, valores y actitudes inherentes al desempeño profesional y a los criterios de profesionalidad del contexto socio-productivo que permitan conocer la realidad a partir de la reflexión sobre la práctica y la aplicación sistematizada de la teoría.</p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid rounded-3 mb-2" style="height: 600px; width: auto;" src="./../../../assets/01_MMO.jpeg" alt="foto general">
    </div>
  </div>
</div>

<!--Centro de Estudiantes-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/CE.png" alt="Centro de estudiantes">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <h2 class="text-center text-md-start fw-bold" style="color: white">Centro de Estudiantes</h2>
      <p class="mt-5 me-md-5" style="font-size: larger; color: white;">
          Nuestro Centro de Estudiantes representa los valores y la voz de todos los alumnos. Organizamos actividades,
          promovemos la inclusión y trabajamos para mejorar la calidad de vida estudiantil. ¡Participar es crecer!
        </p>
    </div>
  </div>
</div>

