<ul>
  <li>Foto y títulos de los directivos</li>
  <li>sección cooperadora</li>
  <li>Sección centro de estudiantes</li>
  <li>radio escolar</li>
</ul>

<!--Perfil equipo directivo-->
<div class="container-fluid bg-dark-subtle">
  <div class="row p-5">
    <div class="col-md-6 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Directora</h2>
      <h3 class="fw-semibold" >Prof. María Alejandra Rosa</h3>
      <p class="mb-0">Profesora en Eduación Artística - Música</p>
      <p>Profesora en Educación Especial</p>
    </div>
    <div class="col-md-6 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Vicedirectora</h2>
      <h3 class="fw-semibold" >Prof. Cintia López</h3>
      <p class="mb-0">Profesora en ...</p>
    </div>
  </div>
</div>

<!--Historia-->

<div class="container-fluid bg-success-subtle">
  <h2 class="fw-bold text-center pt-3">Nuestra Historia</h2>
  <p class="ps-3 pe-3 pb-3" style="font-size: large;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, harum? Eius deserunt consectetur nisi laudantium quos voluptatem perferendis qui ratione quibusdam ut ad atque, beatae eum et, odio reiciendis adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo reprehenderit placeat culpa explicabo nostrum obcaecati, architecto quibusdam, earum facere voluptatem consectetur ut molestias harum laudantium repellendus ab eveniet animi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iusto consequuntur dolores ipsa quasi eveniet velit nobis aspernatur. Similique, ut. Corporis perferendis aperiam quas reiciendis asperiores voluptatibus eius et. Natus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident harum, deserunt nemo laudantium aliquam laborum beatae nesciunt enim quos dolore aspernatur facere saepe autem accusantium blanditiis voluptatum. Saepe, laudantium odit.</p>
</div>

<!--Misión y Visión-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2 class="pt-3 fw-semibold text-center">Misión</h2>
      <p class="ps-3 pe-3 pb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, nulla? Excepturi, a ipsa porro, quam suscipit iusto aut aliquam nemo molestias architecto quidem in tenetur enim corporis magnam ratione inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reiciendis inventore quaerat distinctio quisquam, veritatis non facilis veniam saepe expedita magni. Ipsam dolore dolores expedita recusandae corrupti facilis dicta quia!</p>
    </div>
    <div class="col-md-6">
      <h2 class="pt-3 fw-semibold text-center">Visión</h2>
      <p class="ps-3 pe-3 pb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, nulla? Excepturi, a ipsa porro, quam suscipit iusto aut aliquam nemo molestias architecto quidem in tenetur enim corporis magnam ratione inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reiciendis inventore quaerat distinctio quisquam, veritatis non facilis veniam saepe expedita magni. Ipsam dolore dolores expedita recusandae corrupti facilis dicta quia!</p>
    </div>
  </div>
</div>

<!--Centro de Estudiantes-->

<div class="container-fluid my-5">
  <div class="row">
    <!-- Mosaico de imágenes -->
    <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
      <div class="mosaic-container">
        <div class="mosaic-row">
          <img src="./../../../assets/01_CE.jpeg" class="mosaic-img">
          <img src="./../../../assets/02_CE.jpeg" class="mosaic-img">
        </div>
        <div class="mosaic-row">
          <img src="./../../../assets/03-CE.jpeg" class="mosaic-img">
          <img src="./../../../assets/04_CE.jpeg" class="mosaic-img">
          <img src="./../../../assets/05_CE.jpeg" class="mosaic-img">
        </div>
        <div class="mosaic-row">
          <img src="./../../../assets/06_CE.jpeg" class="mosaic-img">
          <img src="./../../../assets/07_CE.jpeg" class="mosaic-img">
        </div>
      </div>
    </div>
    <!-- Información relevante -->
    <div class="col-md-6 col-12 d-flex align-items-center">
      <div class="info-container">
        <h2 class="text-center text-md-start">Centro de Estudiantes</h2>
        <p class="mt-5 me-md-5">
          Nuestro Centro de Estudiantes representa los valores y la voz de todos los alumnos. Organizamos actividades,
          promovemos la inclusión y trabajamos para mejorar la calidad de vida estudiantil. ¡Participar es crecer!
        </p>


      </div>
    </div>
  </div>
</div>
