<!--Perfil equipo directivo-->
<div class="container-fluid bg-dark-subtle">
  <div class="row p-5">
    <div class="text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/dire.jpg" alt="foto perfil">
      <h2 class="fw-normal">Directora</h2>
      <h3 class="fw-semibold" >Prof. María Alejandra Rosa</h3>
      <p class="mb-0">Profesora en Educación Artística - Música</p>
      <p>Profesora en Educación Especial</p>
    </div>
    <!-- <div class="col-md-6 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Vicedirectora</h2>
      <h3 class="fw-semibold" >Prof. Cintia López</h3>
      <p class="mb-0">Profesora en Geografía</p>
    </div> -->
  </div>
</div>


<!--Historia-->

<div class="container-fluid bg-success-subtle">
  <h2 class="fw-bold text-center pt-3">Nuestra Historia</h2>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">La historia del IPET 98 comienza en 1962, cuando la Comisión Organizadora —integrada por las damas de la Rueda Interna del Rotary Club de Río Tercero— decidió crear una escuela técnica profesional femenina. Así nació la “Escuela Técnica para Mujeres”, que funcionó inicialmente en una casa particular ubicada en la esquina de Justo J. Magnasco y Belgrano.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">En 1963, la escuela se trasladó al edificio de la Escuela Modesto Acuña, donde comenzó a funcionar en el turno vespertino. Ocupaba tres aulas y tuvo como primera directora a la Srta. Andrea Ferrero. Las alumnas, de entre 14 y 16 años, egresadas del sexto grado de primaria, se capacitaban en oficios como Labores, Corte y Confección, y Arte Culinario. Ese mismo año se logró el reconocimiento oficial por parte de la Dirección de Enseñanza Media de la Provincia, mediante el Decreto N.º 215/63, implementando el plan de estudios “Capacitación Técnica en la Especialidad”.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">El 13 de septiembre de 1965, mediante el Decreto Ministerial N.º 5836 y resolución del Honorable Consejo General de Enseñanza Media, se creó un anexo de la Escuela Técnica para Mujeres “Mariquita Sánchez de Thompson” de Río Cuarto en la ciudad de Río Tercero. Esta fecha se considera la fundación oficial de la escuela.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">En 1966 egresó la primera promoción, compuesta por seis alumnas. En los años siguientes se aprobaron nuevos planes de estudio y se fueron incorporando progresivamente los distintos niveles. En 1969, con la creación de una biblioteca con apenas ocho volúmenes, se consolidaba la vocación educativa de la institución.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">En 1970 la escuela se trasladó a una casa alquilada en Av. San Martín 262, lo que permitió aumentar la matrícula y establecer el turno tarde. Durante los años siguientes, se habilitaron cursos prácticos como Cocina, Repostería, Corte y Confección, y Manualidades. Por Decreto N.º 912/72, la institución se transformó en Bachillerato Técnico y, en 1973, recibió el nombre de Escuela Técnica “Luis de Tejeda”, en homenaje al primer poeta cordobés del siglo XVI.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">En 1975 se celebraron los primeros diez años de vida institucional. Ese mismo año egresó la primera promoción de Bachiller Técnico en Confección del Vestido. A partir de 1980 se adoptó un nuevo plan de estudios de cinco años y modalidad mixta. En 1984 egresaron los primeros estudiantes en las especialidades Profesiones para el Hogar, Administración y Electricidad.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">La década de 1980 marcó el crecimiento sostenido de la matrícula, llegando a los 400 alumnos y funcionando en doble turno. Se crearon el cargo de Vicedirector y el Gabinete Psicopedagógico. Los cursos prácticos adquirieron relevancia en la formación para el trabajo, con fuerte participación en exposiciones y eventos comunitarios.</p>
  <p class="ps-3 pe-3 pb-3 ps-md-5 pe-md-5 pb-md-5" style="font-size: large;">En 1990 se celebraron las Bodas de Plata de la institución. En 1991, la escuela se trasladó al edificio de la Cooperativa Estudiantil “Charles Howarth”, ubicado en Av. San Martín 544, ampliando su capacidad.</p>

</div>

<!--Misión y Visión-->

<div class="container">
  <div class="row">
    <div class="col-md-6 align-content-center justify-content-center">
      <h2 class="pt-3 fw-semibold text-center">Misión</h2>
      <p class="ps-3 pe-3 pb-3">El I.P.E.T N°98 <span>“Luis de Tejeda”</span> aspira a resignificar la Educación Técnica fomentando la participación democrática de todos los actores institucionales, fomentando un profundo sentido de pertenencia y propiciando vínculos con la comunidad desde el quehacer técnico-científico que nos identifica.</p>

      <h2 class="pt-3 fw-semibold text-center">Visión</h2>
      <p class="ps-3 pe-3 pb-3">El I.P.E.T N°98 <span>“Luis de Tejeda”</span> brinda educación técnica con apertura a la comunidad y con el compromiso de afianzar la continuidad pedagógica de sus estudiantes propiciando el desarrollo de capacidades, conocimientos, habilidades, destrezas, valores y actitudes inherentes al desempeño profesional y a los criterios de profesionalidad del contexto socio-productivo que permitan conocer la realidad a partir de la reflexión sobre la práctica y la aplicación sistematizada de la teoría.</p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid rounded-3 mb-2" style="height: 600px; width: auto;" src="./../../../assets/01_MMO.jpeg" alt="foto general">
    </div>
  </div>
</div>

<!--Centro de Estudiantes-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5 my-auto">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/CE.png" alt="Centro de estudiantes">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <h2 class="text-center text-md-start fw-bold" style="color: white">Centro de Estudiantes</h2>
      <p class="mt-5 me-md-5" style="font-size: larger; color: white;">
          Nuestro Centro de Estudiantes ya cuenta con dos periodos de gestión, durante los cuales ha participado activamente en diversas instancias locales y provinciales. Su actual presidente, el estudiante Aarón Romano, forma parte de la Mesa Provincial de Centros de Estudiantes de la provincia de Córdoba.
          <br>
          En 2024, desde el IPET N.º 98 Luis Tejeda, se organizó una serie de ocho encuentros que reunieron a todos los centros de estudiantes de las escuelas secundarias, especiales y de la ciudad de Río Tercero. Estas actividades se desarrollaron tanto a nivel local como provincial.
          <br>
          Este año, con el acompañamiento de la Secretaría de Políticas Estudiantiles, a cargo del Sr. Marcos Grifa y del secretario Mario Santaella, se dio inicio a la Agenda 2025.
          <br>
          El Centro de Estudiantes representa la voz y la opinión de los jóvenes del IPET 98, y desde allí se promueven diversas iniciativas de carácter académico, deportivo, cultural y de vinculación con la comunidad. Todas estas acciones se llevan adelante con el constante acompañamiento de docentes y coordinadores de la institución, con el objetivo de construir una escuela más democrática y participativa.
        </p>
    </div>
  </div>
</div>

<!-- Radio escolar-->

<div class="container-fluid bg-dark-subtle p-5">
  <div class="row">
    <div class="col-12 col-md-5 my-auto order-md-1">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/radio.jpg" alt="La Ruidosa">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 order-md-0">
      <h2 class="text-center text-md-start fw-bold">La Ruidosa FM 91.5</h2>
      <p class="mt-5 me-md-5" style="font-size: larger;">
          La radio escolar es una herramienta poderosa para enriquecer el proceso educativo, fomentar el desarrollo de habilidades clave y conectar a la escuela con la comunidad. <br>
          Tener una radio en la escuela secundaria trae beneficios, como fomentar la expresión oral, el trabajo en equipo, la creatividad y la interacción con la comunidad. <br>
          Nuestra radio escolar es un puente entre la escuela y la comunidad, permitiendo a los estudiantes compartir sus ideas, proyectos y experiencias con otros. <br>
          La radio brinda oportunidades para que los estudiantes practiquen la expresión oral, mejoren su dicción, aprendan a manejar diferentes estilos comunicativos (entrevistas, debates, reportajes) y desarrollen habilidades de escucha activa.
        </p>
    </div>
  </div>
</div>

