<div class="container-fluid p-5 justify-content-center bg-body-secondary">
  <div class="row">
    <div class="col-12 col-md-6 justify-content-center align-content-center">
      <h1 class="p-md-5" style="font-size: 70px;">Técnico en <span>Industria de los Alimentos</span></h1>
    </div>
    <div class="row col-md-6 justify-content-center align-content-center">
      <p style="font-size: larger;">Convertite en el profesional que diseña, crea y asegura alimentos de alta calidad, fusionando tecnología e innovación para alimentar a una sociedad en constante evolución.</p>
    </div>
  </div>
</div>

<!--Info de habilidades laborales-->

<!--Info #1-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/02_TAL.jpeg" alt="Frente colegio">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <p style="font-size: larger; color: white;">Organizá y controlá la recepción, almacenamiento y expedición de materia prima, insumos y/o productos terminados de la industria alimentaria.</p>
      <p style="font-size: larger; color: white;">Operá y controlá los parámetros de proceso en las distintas líneas de producción y en los equipos a través de los instrumentos existentes de la industria alimentaria.</p>
      <p style="font-size: larger; color: white;">Organizá y gestioná las actividades de laboratorio, de los distintos procesos de producción y/o del desarrollo de nuevos productos, conformes a las normas de higiene, seguridad y ambiente en el procesamiento de los alimentos.</p>
    </div>
  </div>
</div>

<!--Info #2-->

<div class="container-fluid bg-dark-subtle p-5">
  <div class="row">
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 order-1 order-md-0">
      <p style="font-size: larger; color: black;">Realizá e interpretá análisis y ensayos organolépticos, físicos, quimicos, fisicoquímicos y microbiológicos de materias primas, insumos, materiales en procesos y productos alimenticios (de origen animal, vegetal, mineral y/o artificial), efluentes y emisiones al medio ambiente.</p>
      <p style="font-size: larger; color: black;">Aplicá y controlá la ejecución de normas de higiene y seguridad, ambientales, inocuidad, inspección e integridad a fin de alcanzar los estándares definidos en la producción y comercialización de los distintos tipos de alimentos.</p>
      <p style="font-size: larger; color: black;">Generá y/o participá de emprendimientos vinculados con áreas de su profesionalidad.</p>
    </div>
    <div class="col-12 col-md-5 order-0 order-md-1">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/06_TAL.jpeg" alt="Frente colegio">
    </div>
  </div>
</div>

<!--Info #3-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/07_TAL.jpeg" alt="Frente colegio">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <p style="font-size: larger; color: white;">Ejecutá y/o controlá los planes de recepción, elaboración, transformación y conservación de productos alimenticios.</p>
      <p style="font-size: larger; color: white;">Coordiná el enlace entre la dirección técnica y el personal afectado a las tareas de elaboración de productos.</p>
      <p style="font-size: larger; color: white;">Inspeccioná los insumos y los procesos de transformación de la materia prima y elaboración de los productos alimenticios, tomando aquellas medidas de control adecuadas para corregir deficiencias y perfeccionar los procesos.</p>
    </div>
  </div>
</div>
