<!-- Tecnico en Maestro Mayor de Obra-->
<div class="container-fluid">
  <div class="card m-4">
    <div class="row g-0">
      <!-- Imagen -->
      <div class="col-12 col-md-4">
        <img
          src="./../../../assets/02_MMO.jpeg"
          class="img-fluid w-100 h-100 object-fit-cover rounded-start"
          alt="MMO"
          style="max-height: 300px;">
      </div>
      <!-- Contenido -->
      <div class="col-12 col-md-8">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Técnico en Maestro Mayor de Obras</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tecnico en Industria de los Alimentos-->

<div class="container-fluid">
  <div class="card m-4">
    <div class="row g-0">
      <!-- Contenido -->
      <div class="col-12 col-md-8">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Técnico en Industria de los Alimentos</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <!-- Imagen -->
      <div class="col-12 col-md-4">
        <img
          src="./../../../assets/02_MMO.jpeg"
          class="img-fluid w-100 h-100 object-fit-cover rounded-start"
          alt="MMO"
          style="max-height: 300px;">
      </div>
    </div>
  </div>
</div>
