<!--Cooperadora-->

<div class="container-fluid  p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/logo_cooperadora.jpg" alt="logo cooperadora">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <h2 class="text-center text-md-start fw-bold">Cooperadora Escolar</h2>
      <p class="mt-5 me-md-5" style="font-size: larger;">A partir del 7 de octubre de 2015, por Decreto Nº 1100,  conforme la Ley de Educación Nacional N° 26206, la Ley de Cooperadoras Escolares N° 26759 y la Ley de Educación Provincial N° 9870, la Provincia de Córdoba tiene a su cargo el dictado de las normas específicas para promover, regular y fortalecer la creación de las Cooperadoras Escolares reconociendo las ya existentes y realizar el seguimiento y control de su funcionamiento, garantizando el cumplimiento de los principios generales que las fundamentan.</p>
      <p class="mt-5 me-md-5" style="font-size: larger;">La Cooperadora Escolar IPET 98 LUIS DE TEJEDA – SIMPLE ASOCIACIÓN - queda conformada el día 12 de Junio de 2023 bajo la Resolución Nº 74/2023.</p>
      <p class="mt-5 me-md-5" style="font-size: larger; font-weight: bold;">RePACE  se encuentra bajo el número  ST – 000746 – SA</p>
    </div>
  </div>
</div>

<!--Misión y Visión-->

<div class="container-fluid bg-body-secondary">
  <div class="row">
    <div class="col-md-6 align-content-center justify-content-center">
      <h2 class="pt-3 fw-semibold text-center">Misión</h2>
      <p class="ps-3 pe-3 pb-3">La Cooperadora Escolar del I.P.E.T. N°98 <span>"Luis de Tejeda"</span> trabaja por contribuir a la calidad del espacio escolar colaborando con su mantenimiento, acondicionamiento, reparación y mejoras, acompañando a la Comunidad Educativa hacia un espacio donde “el bien común” sea el hilo conductor y el principal objetivo de esta Asociación Cooperadora.</p>

      <h2 class="pt-3 fw-semibold text-center">Visión</h2>
      <p class="ps-3 pe-3 pb-3">La Cooperadora Escolar del I.P.E.T. N°98 <span>"Luis de Tejeda"</span> busca, por medio de la difusión de las actividades que realiza, alcanzar dos objetivos fundamentales:</p>
      <p class="ps-3 pe-3 pb-3">1º Que la comunidad conozca la importancia de tener una Escuela Técnica de tal envergadura.</p>
      <p class="ps-3 pe-3 pb-3">2º Que los adolescentes junto a sus padres y/o tutores elijan a esta Institución como formadora profesional y futuro de sus hijos.</p>

    </div>
    <div class="col-md-6 text-center align-content-center">
      <img class="img-fluid rounded-3 mt-2 mb-2" style="height: 400px; width: auto;" src="./../../../assets/comision_coop.jpeg" alt="foto general">
    </div>
  </div>
</div>


<!--Perfil Comisión Directiva-->
<div class="container-fluid bg-dark-subtle">
  <div class="row p-5">
    <div class="col-md-4 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Presidente</h2>
      <h3 class="fw-semibold" >Judith Ferro</h3>
    </div>
    <div class="col-md-4 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Secretaria</h2>
      <h3 class="fw-semibold" >Karina Toledo</h3>
    </div>
    <div class="col-md-4 text-center justify-content-center">
      <img class="rounded-circle mb-2 mt-3" height="140" width="140" src="./../../../assets/logo_ipet.jpg" alt="foto perfil">
      <h2 class="fw-normal">Tesorera</h2>
      <h3 class="fw-semibold" >Eugenia Soza</h3>
    </div>
  </div>
</div>

<!--Miembros de la comisión cooperadora-->

<div class="container-fluid bg-secondary pb-2">
  <h3 class="pt-3 fw-bold text-center">Miembros de la Comisión</h3>
  <div class="row">
    <div class="col-6">
      <h5 class="pt-3 fw-semibold">Vocales</h5>
      <ul>
        <li>Mirta Zalazar</li>
        <li>Olga Ponce</li>
        <li>Nora Meyer</li>
        <li>Mercedes López</li>
      </ul>
    </div>
    <div class="col-6">
      <h5 class="pt-3 fw-semibold">Comisión Revisora de Cuentas</h5>
      <ul>
        <li>Silvia Acuña</li>
        <li>Viviana Ahumada</li>
        <li>Daniela Margaritini</li>
        <li>Alicia Marquillas</li>
      </ul>
    </div>
  </div>

</div>
