<footer class="container-fluid d-block bg-dark pt-3 pb-3">
  <div class="row">
    <div class="col-6 ps-5 justify-content-center align-content-center">
      <h4 class="text-light">Links</h4>
    <ul class="list-unstyled">
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [routerLink]="['']">Inicio</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [routerLink]="['institucional']">Institucional</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [routerLink]="['obra']">Téc. Maestro Mayor de Obra</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [routerLink]="['alimentos']">Téc. en Industria de los Alimentos</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [routerLink]="['contacto']">Contacto</a>
      </li>
    </ul>
  </div>
  <div class="col-6 ps-3 justify-content-center">
    <h4 class="text-light">Contactanos</h4>
    <ul class="list-unstyled">
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 disabled" href="#"><i class="bi bi-telephone me-2"></i>3571-507021</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://wa.me/5493571347824" target="_blank"><i class="bi bi-whatsapp me-2"></i>Whatsapp</a>
      </li>

      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.instagram.com/ipet_98?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="bi bi-instagram me-2"></i>Instagram</a>
      </li>

      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:ee0310515@me.cba.gov.ar" target="_blank"><i class="bi bi-envelope me-2"></i>E-mail</a>
      </li>

      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://maps.app.goo.gl/zJfHTLqyUTL55Bcp9" target="_blank"><i class="bi bi-geo-alt me-2"></i>Ubicación</a>
      </li>
      <li>
        <a class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://drive.google.com/drive/folders/15EbBkb1TROCXcHOxEJaQliiSYK5nuO2i?usp=sharing" target="_blank"><i class="bi bi-file-earmark-text me-2"></i>Descargas</a>
      </li>
    </ul>
  </div>
  </div>
  <hr class="border border-light border-1">
  <div class="container text-center pt-3">
    <p class="text-white"><a href="https://ferpanz.github.io/" target="_blank"><img class="img-fluid rounded-4 me-2" width="40px" height="40px" src="./../../../../assets/Logo.png" alt=""></a> Desarrollado por Fernán Barberón</p>
  </div>
</footer>

