<!--formulario de contacto-->

<div class="container-fluid bg-secondary p-5">
  <h2 class="text-center pb-4" style="font-size: 50px;">Hacenos tu consulta</h2>
  <div class="row">
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 text-center order-1 order-md-0">
      <hr class="border border-primary border-4 d-md-none">
      <p class="ps-md-5 pe-md-5" style="font-size: larger">Descargá toda la documentación que necesitás para matricularte en nuestro cole.</p>
      <p><a class="btn btn-primary" href="hhttps://drive.google.com/drive/folders/15EbBkb1TROCXcHOxEJaQliiSYK5nuO2i?usp=sharing">Descargas</a></p>
    </div>

    <div class="col-12 col-md-5 order-0 order-md-1">
      <form (ngSubmit)="enviarWhatsApp()">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre y Apellido</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      placeholder="Nombre y Apellido"
      [(ngModel)]="nombre"
      name="nombre"
      required
    >
  </div>
  <div class="mb-3">
    <label for="consulta" class="form-label">Realizá tu consulta</label>
    <textarea
      class="form-control"
      id="consulta"
      rows="8"
      placeholder="Hacé tu consulta aquí"
      [(ngModel)]="consulta"
      name="consulta"
      required
    ></textarea>
  </div>
  <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
</form>
    </div>
  </div>
</div>

