<!--formulario de contacto-->

<div class="container-fluid bg-secondary p-5">
  <h2 class="text-center pb-4" style="font-size: 50px;">Hacenos tu consulta</h2>
  <div class="row">
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 text-center order-1 order-md-0">
      <hr class="border border-primary border-4 d-md-none">
      <p class="ps-md-5 pe-md-5" style="font-size: larger">Descargá toda la documentación que necesitás para matricularte en nuestro cole.</p>
      <p><a class="btn btn-primary" href="hhttps://drive.google.com/drive/folders/15EbBkb1TROCXcHOxEJaQliiSYK5nuO2i?usp=sharing">Descargas</a></p>
    </div>
    <div class="col-12 col-md-5 order-0 order-md-1">
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Dirección de correo electrónico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Número telefónico</label>
          <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="3571123456">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Realizá tu consulta</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hacé tu cansulta aquí"></textarea>
        </div>
        <button class="btn btn-lg btn-primary">Enviar</button>

      </form>

    </div>
  </div>
</div>

