<ul>
  <li>promoción a instagram para ver los que se hace en el cole</li>
</ul>

<!--Imprimibles-->
<div class="container-fluid d-flex align-items-center justify-content-center text-center mt-5 mb-5">
  <div class="card w-75 shadow-lg">
    <div class="card-body row align-items-center">
      <!-- Columna izquierda -->
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <h5 class="card-title">Documentación para imprimir</h5>
        <p class="card-text">Descargá toda la documentación que necesitás para matricularte en nuestro cole</p>
      </div>
      <!-- Columna derecha -->
      <div class="col-12 col-md-6 text-center">
        <p>
          <a class="btn btn-primary btn-lg"
             href="https://gobcba-my.sharepoint.com/:f:/g/personal/fernanemanuel_barberon_me_cba_gov_ar/ErN-jcRh3GhKnbQP4pSDpj8B9LFNhRtDGyFGkFCGrO5Vsw?e=wZidBe">
            Descargas
          </a>
        </p>
      </div>
    </div>
  </div>
</div>


<!--formulario de contacto-->

<div class="container-fluid bg-secondary p-5">
  <h2 class="text-center pb-4">Hacenos tu consulta</h2>
  <div class="row">
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 text-center">
      <p class="ps-md-5 pe-md-5" style="font-size: larger">Tratá de ser lo más específico posible con tu consulta. En breve nos comunicaremos con vos.</p>
    </div>
    <div class="col-12 col-md-5">
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Dirección de correo electrónico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Número telefónico</label>
          <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="3571123456">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Realizá tu consulta</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hacé tu cansulta aquí"></textarea>
        </div>
        <button class="btn btn-lg btn-primary">Enviar</button>

      </form>

    </div>
  </div>
</div>
