<!--Título de la orientación-->
<div class="container-fluid p-5 justify-content-center bg-body-secondary">
  <div class="row">
    <div class="col-12 col-md-6 justify-content-center align-content-center">
      <h1 class="p-md-5" style="font-size: 55px;">Unidad<span> Técnico Pedagógica</span></h1>
    </div>
    <div class="row col-md-6 justify-content-center align-content-center">
      <p style="font-size: larger;">La Unidad Técnico-Pedagógica (UTP) es un equipo dentro de los establecimientos educacionales encargado de coordinar y supervisar el desarrollo curricular, apoyando a los docentes para mejorar los procesos de enseñanza-aprendizaje. Incluye especialidades como <span class="fw-bold">Dibujo Técnico, Educación Tecnológica, Carpintería, Hojalatería y Herrería, Electricidad Domiciliaria y Laboratorio</span>. Esta unidad busca integrar teoría y práctica, preparando a los estudiantes para el mundo laboral o la continuidad de estudios técnicos superiores.</p>
    </div>
  </div>
</div>

<!--Info de habilidades laborales-->

<!--Info #1-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5 my-auto">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/UTP.png" alt="Frente colegio">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <p style="font-size: larger; color: white;"><span class="fw-bold">Dibujo Técnico:</span>  Desarrolla habilidades para representar gráficamente objetos y estructuras, utilizando normas técnicas, escalas y proyecciones.</p>
      <p style="font-size: larger; color: white;"><span class="fw-bold">Educación Tecnológica</span>: Introduce conceptos de tecnología y procesos productivos, fomentando la comprensión de cómo la tecnología influye en la vida cotidiana y en el trabajo.</p>
      <p style="font-size: larger; color: white;"><span class="fw-bold">Carpintería:</span> Enseña el trabajo con madera, herramientas manuales y eléctricas, y la construcción de estructuras básicas.</p>
      <p style="font-size: larger; color: white;"><span class="fw-bold">Hojalatería y Herrería:</span> Capacita en el manejo de metales, corte, soldadura, y armado de estructuras metálicas.</p>
      <p style="font-size: larger; color: white;"><span class="fw-bold">Electricidad Domiciliaria:</span> Forma en instalación, mantenimiento y reparación de sistemas eléctricos residenciales, respetando normas de seguridad.</p>
      <p style="font-size: larger; color: white;"><span class="fw-bold">Laboratorio:</span> Espacio para experimentar y aplicar conocimientos técnicos en condiciones controladas, reforzando lo aprendido en las otras áreas.</p>
    </div>
  </div>
</div>
