.bg-principal{
  background-color: #75C3F1;
}

.bg-secundario{
  background-color: #089df4;
}

.bg-grisoscuro{
  background-color: #5A5A5A;
}

.bg-acento{
  background-color: #2C4A68;
}

span{
  color:#75C3F1 ;
}
