<!--Título de la orientación-->
<div class="container-fluid p-5 justify-content-center bg-body-secondary">
  <div class="row">
    <div class="col-12 col-md-6 justify-content-center align-content-center">
      <h1 class="p-md-5" style="font-size: 70px;">Técnico en <span>Maestro Mayor de Obra</span></h1>
    </div>
    <div class="row col-md-6 justify-content-center align-content-center">
      <p style="font-size: larger;">Construí el futuro que soñás y da vida a los espacios donde las personas vivirán, trabajarán y crecerán. Convertite en un profesional capaz de liderar proyectos que dejen huella en el mundo.</p>
    </div>
  </div>
</div>

<!--Info de habilidades laborales-->

<!--Info #1-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/MMO.png" alt="Frente colegio">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <p style="font-size: larger; color: white;">Realizá el proyecto, dirección y/o construcción de edificios de hasta planta baja, un subsuelo, cuatro pisos y dependencias en la azotea.</p>
      <p style="font-size: larger; color: white;">Realizá la ejecución de construcciones edilicias y la conducción grupos de trabajo a cargo.</p>
      <p style="font-size: larger; color: white;">Realizá tareas de peritajes y arbitrajes de las instalaciones técnicas y construcciones edilicias para las que se haya habilitado.</p>
      <p style="font-size: larger; color: white;">Realiza tasaciones de construcciones edilicias.</p>
    </div>
  </div>
</div>

<!--Info #2-->

<div class="container-fluid bg-dark-subtle p-5">
  <div class="row">
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3 order-1 order-md-0">
      <p style="font-size: larger; color: black;">Realizá el proyecto, dirección y/o ejecución de cualquier tipo de instalaciones de gas domiciliarias, comerciales y las industriales.</p>
      <p style="font-size: larger; color: black;">Realizá el proyecto, dirección y/o ejecución de cualquier tipo de instalaciones de obras sanitarias, domiciliarias, comerciales o industriales.</p>
      <p style="font-size: larger; color: black;">Realizá el proyecto, dirección y/o ejecución de instalaciones eléctricas monofásicas y trifásicas.</p>
    </div>
    <div class="col-12 col-md-5 order-0 order-md-1">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/07_MMO.jpeg" alt="Frente colegio">
    </div>
  </div>
</div>

<!--Info #3-->

<div class="container-fluid bg-grisoscuro p-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img class="img-fluid rounded-3" width="500" height="500" src="./../../../assets/08_MMO.jpeg" alt="Frente colegio">
    </div>
    <div class="col-12 col-md-7 justify-content-center align-content-center pt-3">
      <p style="font-size: larger; color: white;">Realizá la ejecución de instalaciones de redes de gas.</p>
      <p style="font-size: larger; color: white;">Realizá la ejecución de instalaciones de redes de distribución de agua y cloacales.</p>
    </div>
  </div>
</div>
